# gdb_history
TAGS
*~
.deps
.libs
py-compile
NEWS
*__pycache__/

# Miscellaneous
.DS_Store

# input files
*.dbf
*.fgb
*.geojson
*.gpkg
*.osm
*.pbf
*.prj
*.shp
*.shx

# output files
*.bz2
*.html
*.log
*.txt
*.xml
*.xz
*.zip
*.zst

# GADM
gadm*/

# Python builds
build
dist
*.egg-info

# Docs
site
.cache

# Allow package outputs
!pg_nearest_city/data/*.xz
