# gdb_history
TAGS
*~
.deps
.libs
py-compile
NEWS
*__pycache__/

# output files
*.dbf
*.fgb
*.geojson
*.gpkg
*.html
*.log
*.osm
*.pbf
*.prj
*.shp
*.shx
*.txt
*.xml
*.xml
*.zip

# GADM
gadm*/

# Python builds
build
dist
*.egg-info

# Docs
site
.cache

# Benchmarks
benchmarks/*.json
